@import "../../../../shared/style/styles";

$headerHeight: 40px;
$textareaHeight: 120px;

$arrowHeight: 7px;
$arrowWidth: 8px;

.insight-input-box {
  position: relative;
  width: 100%;

  transition: border $fastAnimationDuration ease-out;
  border: $thinBorder solid $secondary;
  border-radius: $smallRadius;

  &__header {
    display: flex;
    align-items: center;

    width: 100%;
    height: $headerHeight;
    padding-left: $defaultPadding;

    transition: background-color $fastAnimationDuration ease-out;
    background-color: $secondary;
  }

  &__header-arrow {
    position: absolute;
    top: $headerHeight;
    left: $defaultPadding;

    width: 0;
    height: 0;

    border-left: $arrowHeight solid transparent;
    border-right: $arrowHeight solid transparent;

    transition: border-top-color $fastAnimationDuration ease-out;
    border-top: $arrowWidth solid $secondary;
  }

  &__text {
    display: block;
    width: 100%;
    height: $textareaHeight;

    resize: none;

    padding: $defaultPadding;
    border: none;
    font-weight: lighter;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__focused {
    border-color: $primary;

    .insight-input-box__header {
      background-color: $primary;
    }

    .insight-input-box__header-arrow {
      border-top-color: $primary;
    }
  }

  &__invalid {
    border-color: $warn;

    .insight-input-box__header {
      background-color: $warn;
    }

    .insight-input-box__header-arrow {
      border-top-color: $warn;
    }
  }
}
