<div class="insight-type-selector" [class.insight-type-selector__continue-consider-selected]="isConsider">
  <div insightRipple class="insight-type-selector__continue" (click)="onContinue()">
    <span class="insight-type-selector__continue-consider-text">Continue</span>
  </div>

  <div class="insight-type-selector__link">&</div>

  <div class="insight-type-selector__continue-consider" (click)="onConsider()">
    <span class="insight-type-selector__continue-consider-text">Consider</span>
    <div class="insight-type-selector__continue-consider-background"></div>
  </div>
</div>
