$maxPageWidth: 1200px;

$thinBorder: 1px;
$thickBorder: 2px;

$pageMarginHorizontal: 24px;
$pageMarginVertical: 6px;

$defaultElementHeight: 56px;
$largeElementHeight: 64px;

$xSmallMargin: 4px;
$smallMargin: 8px;
$defaultMargin: 16px;

$xSmallPadding: 4px;
$smallPadding: 8px;
$defaultPadding: 16px;
$largePadding: 24px;

$defaultRadius: 20px;
