@import "shared/style/styles";

.insight-wrapper {
  margin: 0 auto;
  padding-top: $largeElementHeight;

  max-width: $maxPageWidth;

  &__content {
    margin: $pageMarginVertical $pageMarginHorizontal;
  }
}
