@import "../../../../../shared/style/styles";

$optionsWidth: 130px;

$optionsRelativeYPosition: 46px;
$optionsRelativeXPosition: -100px;

.message-filer {
  position: relative;
  width: 100%;
  height: $defaultElementHeight;

  transition: background-color $defaultAnimationDuration ease-out;
  border: $thinBorder solid $secondary;
  border-radius: $smallRadius;
  outline: none;

  &-focused {
    background-color: $secondary;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
  }

  &__options {
    position: absolute;
    top: $optionsRelativeYPosition;
    left: $optionsRelativeXPosition;
    width: $optionsWidth;

    box-shadow: $shadow $defaultShadowValues;
    border-radius: $smallRadius;

    z-index: 1;

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-list-item {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;
      height: $defaultElementHeight;

      &:hover {
        background-color: $secondary;
      }

      &:first-child {
        border-top-left-radius: $smallRadius;
        border-top-right-radius: $smallRadius;
      }

      &:last-child {
        border-bottom-left-radius: $smallRadius;
        border-bottom-right-radius: $smallRadius;
      }

      &-selected {
        background-color: $secondary;
      }
    }
  }
}
