<div tabindex="0" #filter class="message-filer" [class.message-filer-focused]="isFocused || !isDefaultFilter">
  <div insightRipple class="message-filer__image">
    <img src="assets/message-filter.svg">
  </div>

  <div *ngIf="isFocused" class="message-filer__options">
    <ul class="message-filer__options-list">
      <li class="message-filer__options-list-item" [class.message-filer__options-list-item-selected]="option.value == selectedFilter"
          *ngFor="let option of filterOptions" insightRipple (click)="onFilterSelect(option.value)">
        {{option.name}}
      </li>
    </ul>
  </div>
</div>
