@import "../../../../libs/shared-styles/styles";

.insight-wrapper {
  display: flex;
  min-height: 100%;
  max-width: $maxPageWidth;

  margin: 0 auto;
  padding-top: $largeElementHeight;

  background-color: $white;

  &__content {
    margin: $mobilePageMarginVertical $mobilePageMarginHorizontal;
    width: 100%;
  }
}

@include for-desktop {
  .insight-wrapper {
    box-shadow: $shadow $defaultShadowValues;

    &__content {
      margin: $desktopPageMarginVertical $desktopPageMarginHorizontal;
    }
  }
}
