@import "../../../libs/shared-styles/styles";
@import '../../../libs/shared-directives/src/lib/ripple/ripple.directive';

* {
  box-sizing: border-box;
  color: $text;
  font-size: 16px;
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;

  outline-style: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;

  @include for-desktop {
    background-image: url("assets/desktop-background.svg");
  }
}

a {
  text-decoration: none;
}

input::placeholder, textarea::placeholder {
  color: $text;
}

ul li:hover, div:hover {
  cursor: default;
}

span:hover {
  cursor: text;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
}
