@import "../../../libs/shared-styles/styles";
@import '../../../libs/shared-directives/src/lib/ripple/ripple.directive';

* {
  box-sizing: border-box;
  color: $text;
  font-size: 16px;
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

input::placeholder, textarea::placeholder {
  color: $text;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
}
