@import "../../style/styles";

$mobileMenuContentHeight: 170px;
$menuItemHeight: 40px;
$menuItemWidth: 120px;
$menuItemPadding: 6px;
$menuItemMarginSeparated: 16px;

$profilePictureDimension: 40px;
$logoWidth: 70px;

$hiddenMenuContentPosition: calc(-1 * (#{$mobileMenuContentHeight} - #{$defaultElementHeight}));

.insight-header {
  position: relative;
  height: $largeElementHeight;

  z-index: 10;

  &__bar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    z-index: 10;
    background-color: $primary;
  }

  &__section {
    display: flex;
  }

  &__profile-picture-wrapper {
    width: 32%;
    align-items: center;
    padding-left: $defaultPadding;
  }

  &__profile_picture {
    width: $profilePictureDimension;
    height: $profilePictureDimension;

    border-radius: 50%;
    background-color: white;

    transition: opacity $regularAnimationDuration ease-out;
    opacity: 0;
  }

  &__logo-wrapper {
    width: 34%;
    justify-content: center;
    align-items: center;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: $logoWidth;
  }

  &__menu-icon {
    width: 32%;
    padding-right: $defaultPadding;
    justify-content: flex-end;
    align-items: center;
  }

  &__menu-icon-clickable-area {
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $mobileMenuContentHeight;

    background-color: $primary;
    border-bottom-right-radius: $defaultRadius;

    transition: $regularAnimationDuration ease-out;
    transform: translateY($hiddenMenuContentPosition);

    &-items {
      list-style: none;
      padding: 0;
      margin: 0;

      transition: opacity $regularAnimationDuration ease-out $animationDelay;
      opacity: 0;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      height: $menuItemHeight;
      width: $menuItemWidth;
      padding: $menuItemPadding;

      outline: none;
      border: 2px solid transparent;
    }

    &-item-selected {
      border-color: $secondary;
    }

    &-item-separated {
      margin-top: $menuItemMarginSeparated;
    }
  }

  &__open {
    .insight-header {
      &__menu-content {
        transform: translateY($defaultElementHeight);
      }

      &__menu-content-items {
        opacity: 1;
      }

      &__profile_picture {
        opacity: 1;
      }
    }
  }
}
