<div [class.insight-header__open]="isOpen" class="insight-header">
  <div class="insight-header__bar">
    <div class="insight-header__profile-picture-wrapper insight-header__section">
      <img class="insight-header__profile_picture"
           src="https://lh3.googleusercontent.com/a-/AAuE7mCyyQqcpFHhbeor-ZQh1Md2nO8BkHEBPG6HYvBR=s96"
           alt="Profile picture">
    </div>

    <div class="insight-header__logo-wrapper insight-header__section">
      <a class="insight-header__logo-link" routerLink="/">
        <img class="insight-header__logo" src="assets/insight-logo.svg" alt="Insight">
      </a>
    </div>

    <div class="insight-header__menu-icon insight-header__section">
      <div class="insight-header__menu-icon-clickable-area" (click)="toggle()">
        <insight-hamburger-icon [open]="isOpen"></insight-hamburger-icon>
      </div>
    </div>
  </div>

  <div class="insight-header__menu-content">
    <ul class="insight-header__menu-content-items">
      <li class="insight-header__menu-content-item" routerLink="/"
          routerLinkActive="insight-header__menu-content-item-selected" [routerLinkActiveOptions]="{ exact: true }">
        <span>Send insight</span>
      </li>
      <li class="insight-header__menu-content-item" routerLink="/insights"
          routerLinkActive="insight-header__menu-content-item-selected">
        <span>My insights</span>
      </li>
      <li class="insight-header__menu-content-item insight-header__menu-content-item-separated">Logout</li>
    </ul>
  </div>
</div>
